.details{
    width: 100%;
    height: 100%;
    background-color: #3d3c3ca1;
    display: none;
    top:0;
    z-index: 4;
    padding: 1rem;
}

.parent:hover > .details{
    display: block;
}

.parent:hover > .student{
    display: none;
}

.parent {
    position: "relative"; background-size: 'cover';
    cursor: pointer
}

.footers:hover{
    cursor: pointer;
    color:yellow !important;
    
}

.toggle:hover{
    color:yellow !important;
    transform: scale(1.3);
}